{% extends "base.html" %}
{% block content %}


<div class="container">
<div class="row">
    <div class="col-md-3"></div>
        
    <div class="col-md-5">

        <div class="title_1 delimited">
            {%trans%}Change site favicon{%endtrans%}
            <img src="{{g.site.favicon_url()}}" width=24 height=24 />
        </div>

        <div class="title_2">{%trans%}Upload image{%endtrans%}</div>

        <form method="POST" enctype=multipart/form-data >
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <p>
            <span class="hint">{%trans%}A small, square PNG image{%endtrans%}</span><br />
            <input type=file name=file>
            </p>
            
            <div class="form-actions">
            <input class="btn-success btn" type="submit" value="{%trans%}Upload{%endtrans%}">
            <a class="btn btn-primary" role="button" href="/site/reset-favicon">{%trans%}Use default{%endtrans%}</a>
            <a class="btn btn-primary" role="button" href="/admin">{%trans%}Cancel{%endtrans%}</a>
            </div>
        </form>

    </div>

</div>
</div>

  
{% endblock %}
