{% extends "base.html" %}
{% block content %}

<script src="/static/dataTables/1.10.20/jquery.dataTables.min.js"></script>
<script src="/static/dataTables/1.10.20/dataTables.bootstrap4.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/dataTables/1.10.20/dataTables.bootstrap4.min.css">

<div class="container">
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        
        <div class="returnToForm">
            <a class="btn btn-primary btn-sm" role="button" href="/forms/view/{{form.id}}">{%trans%}Return to form{%endtrans%}</a>
            {{ form.slug }}
        </div>
        
        <div class="title_1">{%trans%}Log{%endtrans%}</div>
        <table id="log" style="display:none" class="table table-sm table-hover">
        <thead>
            <tr>
                <th>{%trans%}Time{%endtrans%}</th>
                <th>{%trans%}User{%endtrans%}</th>
                <th>{%trans%}Message{%endtrans%}</th>
            </tr>
        </thead>
        {% for entry in form.log %}
        <tr>
            <td>{{entry[0]}}</td>
            <td>{{entry[1]}}</td>
            <td>{{entry[2]}}</td>
        </tr>
        {% endfor %}
        </table>
    </div>
</div>
</div>

<script>
$(document).ready(function() {
    $('#log').DataTable({
        "language": {
            "url": "/static/dataTables-languages/{{g.current_user.language}}.js"
        },
        "initComplete": function(settings, json) {
            $("#log").show();
        },
        "order": [[ 0, 'desc' ]],
        "pageLength": 50
    });
} );
</script>
  
{% endblock %}
