{% extends "base.html" %}
{% block content %}

<script src="/static/dataTables/1.10.20/jquery.dataTables.min.js"></script>
<script src="/static/dataTables/1.10.20/dataTables.bootstrap4.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/dataTables/1.10.20/dataTables.bootstrap4.min.css">
<script src="/static/dataTables/extensions/responsive/2.2.4/dataTables.responsive.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/dataTables/extensions/responsive/2.2.4/responsive.dataTables.min.css">

<div class="container">
<div class="row">
    <div class="col" style="font-size:1.5em">
        {%trans%}My forms{%endtrans%}
    </div>
    <div class="col-auto">
    <a class="btn btn-sm btn-success" role="button" href="/forms/new">
        {%trans%}New form{%endtrans%} <i class="fa fa-star" aria-hidden="true"></i>
    </a>
    <a class="btn btn-sm btn-primary" role="button" href="/user/{{g.current_user.username}}/statistics">
        {%trans%}Statistics{%endtrans%} <i class="fa fa-bar-chart" aria-hidden="true"></i>
    </a>
    </div>
</div>

<div class="row">
<div class="col-md-12">
<hr />

<table id="my_forms" style="display:none" class="table table-sm table-striped nowrap">
    <thead>
    <tr>
        <th data-priority="1">{%trans%}Name{%endtrans%}</th>
        <th data-priority="2">{%trans%}Entries{%endtrans%}</th>
        <th>{%trans%}Last entry{%endtrans%}</th>
        <th data-priority="10001">{%trans%}Created{%endtrans%}</th>
        <th>{%trans%}Public{%endtrans%}</th>
        <th>{%trans%}Shared{%endtrans%}</th>
    </tr>
    </thead>
    {% for form in user.get_forms() %}
    <tr>
       <td><a href="/forms/view/{{form.id}}">{{form.slug}}</a></td>
       <td>
           <a href="/forms/entries/stats/{{form.id}}"><i class="fa fa-bar-chart" aria-hidden="true"></i></a>
           <a href="/forms/entries/{{form.id}}"><span>{{form.get_total_entries()}}</span></a>
       </td>
        <td>{{form.get_last_entry_date()}}</td>
        <td>{{form.created}}</td>
        <td>{{form.is_public()}}</td>
        <td>{{form.is_shared()}}</td>
    </tr>
    {% endfor %}
</table>

</div>
</div>

<script>
$(document).ready(function() {
    $('#my_forms').DataTable({
        "responsive": true,
        "language": {
            "url": "/static/dataTables-languages/{{g.current_user.language}}.js"
        },
        "initComplete": function(settings, json) {
            $(".dataTable").show();
        },
        "order": [[2, 'desc']]
    });
});
</script>
  
{% endblock %}
